body {
    font-family: 'Monserrat', sans-serif;
}


div{
    display: block;
}

/*---------navegador---------*/

.navContent{
    background-color: black;
    height: 35px;
}


nav ul{
    display: flex;
    justify-content: flex-end;
}

.navItem{
    float: right;
    margin: 5px 5px;
    padding: 5px 5px;
    color: aliceblue;
}



/*---------About Me---------*/

.section{
    height: 550px;
    width: 100%;
    background-image: url('./images/background2.jpg');
    background-repeat: no-repeat;
    background-color: center;
    background-size: cover;
}


.aboutMeContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*---------Profile Picture---------*/

.profileContent{
    margin-top: 2rem;
    width: 100px;
    height: 100px;
}
.imgProfile{
    height: 100%;
    width: 100%;
    border-radius: 150px;
}

/*---------Nombre---------*/

h1{
    color: aliceblue;
    margin: 1rem 2rem;
    font-weight: bold;
}

h1:hover{
    text-shadow: 0px 0px 10px rgb(62, 183, 109);
}

/*---------subtitles---------*/

h3{
    color: aliceblue;
    text-justify: inter-word;
    padding: 1%;
    margin: 1rem 2rem;
    text-align: center;
    font-weight: bold; 
}

h3:hover{
    text-shadow: 0px 0px 10px rgb(62, 183, 109);
}

/*---------Parrafo---------*/

.aboutMeWords{
    width: 50%;
    color: aliceblue;
    font-size: 1em;
    text-justify: inter-word;
    text-align: justify;
}

/*------------------*/

.iconsContent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.skillsIcon{
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 0.5%;
}

h5{
    color: aliceblue;
    text-justify: inter-word;
    text-align: center;
    font-size: 0.5em;
    font-weight: bold;
}


/* footer*/

footer{
    height: 200px;
    background-color: rgb(51, 48, 44);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* piano*/

.piano{
    width: 168px;
    height: 105px;
    display: block;
    margin: 0 auto;
    background-color: #fd4d3f;
  }

  .key{
    width: 15px;
    height: 100px;
    display: inline-block;
    border: solid #141c3a 1px;
    box-shadow: 1px 2.5px;
    background-color: white;
    color: #141c3a;
  }
  .black-key{
    width: 12.5px;
    height: 50px;
    display: inline-block;
    background-color: #141c3a;
    color: white;
    position: absolute;
    margin-left: -3px;
    padding: 0px;
  }
  .keynote{
    width: 10px;
    height: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 87.5px;
    color: #141c3a;
  }

  .black-keynote{
    width: 10px;
    height: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 37.5px;

  }